@import "tailwindcss";   

.error{
    animation: shank 0.2s linear 10;
    border-color: red ;
    color: red;
    transition: all 0.5s ease-out;
}
@keyframes shank {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}

@layer components {
    .btn {
        @apply bg-gray-700 w-30 h-10 mx-1 text-white;
    }
}