@import "tailwindcss";   


.error{
    animation: shank 0.2s linear 10;
    border-color: red ;
    color: red;
    transition: all 0.5s ease-out;
}
@keyframes shank {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}

@layer components {
    .btn {
        @apply bg-gray-700 w-30 h-10 mx-1 text-white;
    }
    .toast{
        @apply w-sm h-20 relative bg-white font-medium my-3 mx-0 flex items-center shadow-md after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-full after:h-1 after:bg-blue-800;
    }
}
.toast i{
    color: green;
}
.toast{
    transform: translateX(100%);
    animation: moveleft 0.2s linear forwards;
}
@keyframes moveleft {
    100%{
        transform: translateX(0);
    }
}
.toast::after{
    animation: anim 4s linear forwards;
}

@keyframes anim {
    100%{
        width: 0;
    }
}

/* Music player */
@layer components{
    #progress::-webkit-slider-thumb{
        @apply appearance-none rounded-full;
        background: #f53192;
        width: 30px;
        height: 30px;
        border: 8px solid #fff;
        box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
    }
    .icon {
        @apply w-16 h-16 m-5 bg-white inline-flex items-center justify-center rounded-full text-[#f53192] shadow-[0_10px_20px_rgba(255,26,26,0.22)] cursor-pointer
    }
    .play:nth-child(2){
        @apply scale-[1.2] bg-[#f53192] text-white;
    }
}

/* calculator */
@layer components{
    .styleBtn{
        @apply bg-gray-700 shadow shadow-gray-500 w-full h-14 text-center text-lg font-bold hover:bg-gray-500;
    }
}
